.contact-form-container {
    position: relative;
    top: 100px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
    background-color: #d4f3ff;

  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-family: 'Poppins';
  }
  
  input[type="text"],
  input[type="email"],
  textarea {

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #a8e8ff;
  }

  .contact-heading{
    font-family: 'Poppins';
  }

  #message{
   width: 500px;
  }
  
  #name{
    width: 500px;
  }

  .mailPic{
    position: absolute;
    height: 350px;
    width: 350px;
    top: 150px;
    transform: rotate(-20deg);
  }
  .mailPic2{
    position: absolute;
    height: 350px;
    width: 350px;
    top: 150px;
    left: 76%;
  }