@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
 

.heroImg{
    height: 500px;
    width: 500px;
    position: relative; 
    top: 100px;
    left: 750px;
    
     
}

.heroParaBox{
    height: 500px;
    width: 500px;
     position: absolute;
     top: 220px;
     left: 250px;
    
    
}
.heroHeading{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.heroPara{
   font-size: 27px;
   font-family: 'Poppins', sans-serif;
}

.devImg{
    height: 300px;
    width: 600px;
    
 border: 1px solid black;
}
