@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
 

.heroImg{
    height: 500px;
    width: 500px;
    position: relative;
    top: 100px;
    left: 700px;
    /* border: 1px solid black; */
    margin-left: 10px;
     
}

.heroParaBox{
    height: 500px;
    width: 500px;
    position: relative;
    top: -400px;
    /* border: 1px solid black; */
    left: 200px;
    
}
.heroHeading{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.heroPara{
   font-size: 27px;
   font-family: 'Poppins', sans-serif;
}
