
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; 
  height: 60px;
  
}

.logo {
  order: 1; /* To move it to the right */
  height: 180px;
  width: 180px;
}


.nav-buttons {
  order: 2; /* Center-align the buttons */
  flex-grow: 1; /* Allow buttons to take up available space */
  display: flex;
  justify-content: center;
  text-decoration: none;
}


.nav-button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #007bff; 
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}


.login-button {
  order: 3; /* Move it to the right */
  margin-left: 10px; 
  padding: 8px 16px;
  background-color: #ff6600; 
  color: #fff; 
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-buttons .nav-button a,
.login-button a {
  text-decoration: none;
  color: #fff; 
  
}

.nav-button:hover,
.login-button:hover {
  background-color: #0056b3; 
  cursor: pointer;
}

/* Icons Stylings & media queries */

.mobile-navbar-btn{
  display: none;
  font-size: 4rem;
  color: black;
}

.mobile-navbar-btn[name='close-outline']{
  display: none;
}

@media (max-width: 767px) {
  .mobile-navbar-btn{
    display: inline;
    z-index: 99;
   
  }
  .close-outline{
    display: none;
  }

  .nav-buttons{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #fff;

    transform: translateX(100%);
    display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
   text-align: center;
   
  }
  .nav-button{

  }
  
}
